footer {
  /* padding: 2rem; */
  background-color: #fff;
  font-size: var(--body-font-size-s);
}

footer .footer {
  margin: auto;
}

footer .footer p {
  margin: 0;
}

footer .footer .section > div {
  max-width: 1440px;
  margin: 0 auto;
}

/* section one */
.footer .section:first-of-type {
  border: 1px solid #c2c7ca;
  padding: 0.75rem 0;
}
.footer .section:first-of-type > div {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.footer .section:first-of-type > div img {
  height: 15px;
  width: auto;
}

.footer .section:first-of-type > div p {
  padding: 0 15px;
  display: flex;
  align-items: center;
  font-size: 14px;
}

.footer .section:first-of-type > div p .icon {
  height: unset;
  width: unset;
}

.footer .section:first-of-type > div p:last-of-type {
  border-left: 1px solid #000;
}

.footer .section:not(:first-of-type) > div {
  max-width: 1260px;
  padding: 0 15px;
}

/* second section */
 
/* third section */
.footer .section.links {
  padding: 1.5rem 0 1rem;
}

.footer .section.links > div > ul {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  gap: 1rem;
  list-style: none;
  padding-left: 0;
}

.footer .section.links > div > ul > li {
  color: #707372;
  font-weight: 500;
}

.footer .section.links > div > ul > li > ul {
  list-style: none;
  padding-left: 0;
}

.footer .section.links > div > ul > li:first-of-type > ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1.5rem;
}

.footer .section.links > div > ul > li > ul > li {
  font-size: 14px;
  padding-top: .35em;
  padding-bottom: .35em;
}

.footer .section.links > div > ul > li:first-of-type > ul li img {
  height: 22px;
  width: auto;
}

@media (width <= 900px) {
  .footer .section.links > div > ul {
    flex-flow: column wrap;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
  }
}

/* fourth section */
.footer .section.redirect > div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 1rem;
  align-items: center;
}

.footer .section.redirect > div > ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  padding-left: 0;
  width: 100%;
}

.footer .section.redirect > div > ul > li:last-of-type {
  text-align: right;
  max-width: 300px;
  line-height: 1.2;
  font-size: 13px;
  color: #707372;
}

.footer .section.redirect > div > ul > li:last-of-type a {
  color: #d96930;
}

.footer .section.redirect > div > ul > li:last-of-type img {
  height: 30px;
  width: auto;
}

.footer .section.redirect > div > ul > li img {
  width: 161px;
  height: auto;
}

/* fifth section */
.footer .section:nth-last-child(2) {
  text-align: center;
  font-weight: 400;
  font-style: normal;
  font-size: 12px;
  line-height: 18px;
  color: #0a1e14;
  padding: 2rem 15px;
}

.footer .section:last-of-type {
  background-color: var(--primary-red);
  color: #fff;
  font-size: 12px;
  text-align: left;
  padding: 7px 15px;
}